<div class="container">
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <h2>Create a new location</h2>
            <h4>You can mark the location on the map by either seraching the address or by clicking on the map.</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <form method="post" class="form-group">
                <div class="form-group">
                    <label>Location Title</label>
                    <input type="text" ng-model="location.title" class="form-control" placeholder="eg. School" required>
                </div>
                <div class="form-group">
                    <label>Location Description</label>
                    <input type="text" ng-model="location.description" class="form-control" placeholder="eg. The middle school where the kids go." required>
                </div>
                <div class="form-group">
                    <label>Location Radius (in yards/meters)</label>
                    <input type="number" ng-model="location.radius" class="form-control" placeholder="The effective radius around the marker. For example '500'" required>
                    <p class="help-block">Numbers only</p>
                </div>
                <div class="form-group">
                    <label>Address</label>
                    <input type="text" id="address" placeholder="350 State St, Salt Lake City, UT 84111" class="form-control">
                    <input id="geolocate" type="button" value="Search" class="btn btn-default">
                    <gmap class="marker-map" marker="marker" id="gmap">
                </div>
                <div class="form-group">
                    <button class="btn btn-default" ng-click="submit()">Save</button>
                    <button class="btn btn-default" ng-click="reset()">Reset</button>
                </div>
                <div class="row">
                    <div class="form-group">
                        <h3>{{errors}}</h3>
                    </div>
                </div>
            </form>
        </div>
    </div>
    
</div>