<div class="container">
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <h2>Create a new location</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <form method="post" class="form-group">
                <div class="form-group">
                    <label>Location Title</label>
                    <input type="text" ng-model="location.title" class="form-control" placeholder="eg. School" required>
                </div>
                <div class="form-group">
                    <label>Location Description</label>
                    <input type="text" ng-model="location.description" class="form-control" placeholder="eg. The middle school where the kids go." required>
                </div>
                <div class="form-group">
                    <label>Location Radius</label>
                    <input type="text" ng-model="location.radius" class="form-control" placeholder="The effective radius around the marker. e. 500" required>
                </div>
                <div class="row">
                    <gmap class="marker-map" marker="marker">
                </div>
                <div class="form-group">
                    <button class="btn" ng-click="submit()">Save</button>
                    <button class="btn" ng-click="reset()">Reset</button>
                    <h3>{{errors}}</h3>
                </div>
            </form>
        </div>
    </div>
    
</div>