SECRET_KEY = 'asdfhk;sdfgjkl;qweurswgsdfhscvbchnvdsth"


DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': 'database',
        'HOST': '127.0.0.1',
        'USER': 'user',
        'PASSWORD': 'password',
        'PORT': '5432'
    }
}