
.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.marker-map{
    display: block;
    height: 30em;
    width: 30em;
    margin: 3em;
    padding: 0;
}

.container {
    -webkit-box-shadow: 0px 0px 22px 3px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px 0px 22px 3px rgba(0,0,0,0.16);
    box-shadow: 0px 0px 22px 3px rgba(0,0,0,0.16);
    border-radius: 3em;
    background-color: #bab9b8;
}

#profile-pic {
  width: 20em;
  padding-bottom: 1em;
}


h1, h2, h3 {
  text-align: center;
}


nav {
  position: fixed;
}