<div class="container">
    <div class="row">
        <div class="col-sm-offset-1 col-sm-10">
            <div>
                <h2>User Information Management</h2>
                <h3>Username: {{user.username}}</h2>
                <p>First Name: {{user.first_name}}</p>
                <p>Last Name: {{user.last_name}}</p>
            </div>
            <div>
                <p>Phone Number: {{user.info.phone_number}}</p>
                <img ng-src="{{user.info.profile_pic}}" alt="" ng-show="user.info.profile_pic">
                <p ng-show="family">Family: {{family.name}}</p>
                <p ng-hide="family">Please join a family below</p>
                <br>
                <div ng-hide="user.info.family && user.info.phone_number">
                    <h4>Enter your user information: </h4>
                    <form method="post" class="form-group">
                        <div ng-hide="family" class="form-group">
                            <label>Family:</label>
                            <input type="text" ng-model="newfam.name" placeholder="Enter your family name here">
                        </div>
                        <div ng-hide="user.info.phone_number" class="form-group">
                            <label>Phone Number:</label>
                            <input type="number" ng-model="new_info.phone_number" placeholder="Enter your phone number here">
                        </div>
                        <button ng-click="submit()">Join the family</button>
                    </form>
                    <div>
                        <p>{{success}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>